<div class="section has-background-primary py-5">
  <div class="container">
      <div class="is-flex is-flex-direction-row is-justify-content-center is-align-items-center">
        <img src="{{asset('img/logo-pp-2022-white.svg')}}" width="45" alt="Volver al inicio" class="image mr-3">
        <p class="has-text-white is-300 is-size-3">10 Años construyendo juntos</p>

  </div>
</div>
</div>
